{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    // "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint", "react", "import", "react-hooks"],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_"
      }
    ],
    "no-console": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "import/no-unresolved": "error",
    "import/named": "error",
    "import/namespace": "error",
    "import/no-duplicates": "error",
    "no-template-curly-in-string": "off"
  }
}
